body {
    background-color: #000;
    color: #b2b2b2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cyberpunk-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cyberpunk-table th, .cyberpunk-table td {
    border: 1px solid #4d4d4d;
    padding: 10px;
    text-align: left;
}

.cyberpunk-table th {
    background-color: #9600ff;
    color: #00ffea;
}

.cyberpunk-table tr:nth-child(even) {
    background-color: #000;
}

.cyberpunk-table tr:nth-child(odd) {
    background-color: #1a1a1a;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    color: #9600ff;
    text-decoration: none;
    margin-right: 10px;
}

.pagination a:hover {
    text-decoration: underline;
}

