<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GOGer</title>
        <link rel="shortcut icon" href="static/favicon.png">
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>GOGer</h1>

            <div class="section">
                <h2>Reviews</h2>
                {{$maxValue := 0.0}}
                {{range .ReviewData}}
                    {{if gt  .Value $maxValue}}
                        {{$maxValue = .Value}}
                    {{end}}
                {{end}}
                <div class="chart">
                    <div class="y-axis-labels">
                        <span>{{printf "%.0f" $maxValue}}</span>
                        <span>{{printf "%.0f" (div $maxValue 4)}}</span>
                        <span>{{printf "%.0f" (div (mul $maxValue 2) 4)}}</span>
                        <span>{{printf "%.0f" (div (mul $maxValue 3) 4)}}</span>
                        <span>0</span>
                    </div>
                    <div class="bar-container">
                        {{range $index, $element := .ReviewData}}
                            {{$barHeight := printf "%.2f" (div (mul .Value 100) $maxValue)}}
                            <div class="bar" style="height: {{$barHeight}}%;" title="{{.Date.Format "2006-01-02"}} - Count: {{.Value}}">
                                <!--<span class="bar-label">{{.Value}}</span>-->
                            </div>
                        {{end}}
                    </div>
                </div>

                <div class="date-label">
                    {{range $index, $element := .ReviewData}}
                    <span>{{if eq (mod $index 10) 0}}{{.Date.Format "2006-01-02"}}{{end}}</span>
                    {{end}}
                </div>
            </div>

            <div class="section">
                <p>Total Games: {{.TotalGames}}</p>
                <p>Total Reviews: {{.TotalReviews}}</p>
                <p>Average Game Rating: {{.AvgGameRating}}</p>
                <p>Games with Reviews: {{.GamesWithReviews}}</p>
            </div>

            <div class="section">
                <h2>Prices</h2>
                <div class="price-statistics">
                    {{range .PriceStatistics}}
                    <div>
                        <p>Currency: {{.Currency}}</p>
                        <p>Average Price: {{.AvgPrice}}</p>
                        <p>Max Price: {{.MaxPrice}}</p>
                        <p>Min Price: {{.MinPrice}}</p>
                        <p>Total Games: {{.TotalGames}}</p>
                        <p>Average Discount: {{.AvgDiscount}}</p>
                        <p>Games on Sale: {{.GamesOnSale}}</p>
                    </div>
                    {{end}}
                </div>
            </div>

            <div class="section">
                <h2>Top Genres</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Genre</th>
                            <th>Average Price</th>
                            <th>Average Rating (out of 50)</th>
                            <th>Game Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .TopGenres}}
                        <tr>
                            <td>{{.Genre}}</td>
                            <td>{{.AvgPrice}}</td>
                            <td>{{.AvgRating}}</td>
                            <td>{{.GameCount}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="section">
                <h2>OS Distribution</h2>
                <ul class="list-items">
                    {{range .OsDistribution}}
                    <li>{{.Os}}: {{.GameCount}}</li>
                    {{end}}
                </ul>
            </div>

            <div class="section">
                <h2>Top Publishers</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Publisher</th>
                            <th>Average Rating</th>
                            <th>Published Games</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .TopPublishers}}
                        <tr>
                            <td>{{.Publisher}}</td>
                            <td>{{.AvgRating}}</td>
                            <td>{{.PublishedGames}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="section">
                <h2>Top Developers</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Developer</th>
                            <th>Average Rating</th>
                            <th>Developed Games</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .TopDevelopers}}
                        <tr>
                            <td>{{.Developer}}</td>
                            <td>{{.AvgRating}}</td>
                            <td>{{.DevelopedGames}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="section">
                <h2>Release Trends</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Average Rating</th>
                            <th>Games Released</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .ReleaseTrends}}
                        <tr>
                            <td>{{.Month}}</td>
                            <td>{{.AvgRating}}</td>
                            <td>{{.GamesReleased}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="section">
                <h2>Most Reviewed Games</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Rating</th>
                            <th>Release Date</th>
                            <th>Reviews Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .MostReviewedGames}}
                        <tr>
                            <td><a href="/game?id={{.Id}}">{{.Id}}</a></td>
                            <td><a href="/game?id={{.Id}}">{{.Title}}</a></td>
                            <td>{{.Rating}}</td>
                            <td>{{.ReleaseDate}}</td>
                            <td>{{.ReviewsCount}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="section">
                <h2>Highest Rated Games</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Rating</th>
                            <th>Release Date</th>
                            <th>Reviews Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .HighestRatedGames}}
                        <tr>
                            <td><a href="/game?id={{.Id}}">{{.Id}}</a></td>
                            <td><a href="/game?id={{.Id}}">{{.Title}}</a></td>
                            <td>{{.Rating}}</td>
                            <td>{{.ReleaseDate}}</td>
                            <td>{{.ReviewsCount}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="section">
                <h2>Recently Updated Games</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .RecentlyUpdatedGames}}
                        <tr>
                            <td><a href="/game?id={{.Id}}">{{.Id}}</a></td>
                            <td><a href="/game?id={{.Id}}">{{.Title}}</a></td>
                            <td>{{.UpdatedAt}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
