<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GOGer</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="middle-container">
    <h1>GOGer</h1>

    <h4>Trending</h4>
    <div class="content-row">
      <span>{{.Trending}}</span>
    </div>
    <h4>Most comments</h4>
    <div class="content-row">
      <span>{{.Top}}</span>
    </div>
    <h4>Most comments in 1 day</h4>
    <div class="content-row">
      <span>{{.TopGamesIn1Day}}</span>
    </div>
    <h4>Most positive</h4>
    <div class="content-row">
      <span>{{.TopPositive}}</span>
    </div>
    <h4>Most negative</h4>
    <div class="content-row">
      <span>{{.TopNegative}}</span>
    </div>
    <div class="content-row">
      <span>{{.TopLanguages}}</span>
    </div>
    <div class="content-row">
      <span>{{.Ratings}}</span>
    </div>

    <h3>Stats</h3>
    <div class="grid-container">
      <div class="grid-item">
        <span class="key">Avg Reviews/User:</span>
        <span class="value">{{.AvgReviewsPerUser}}</span>
      </div>
      <div class="grid-item">
        <span class="key">Avg Reviews/Game:</span>
        <span class="value">{{.AvgReviewsPerGame}}</span>
      </div>
      <div class="grid-item">
        <span class="key">Most Reviews/User:</span>
        <span class="value">{{.MostReviewsPerUser}}</span>
      </div>
      <div class="grid-item">
        <span class="key">Most Reviews Day:</span>
        <span class="value">{{.MostReviewsDay}}</span>
      </div>
      <div class="grid-item">
        <span class="key">Most Reviews in 1 Day:</span>
        <span class="value">{{.MostReviewsIn1Day}}</span>
      </div>
    </div>
    <h3>Games Per Developer</h3>
    <div class="content-row">
      <span>{{.GamesPerDeveloper}}</span>
    </div>

    <div class="footer">
      Some GOG's games and reviews stats.
    </div>
  </div>
</body>

</html>
